@import url("https://fonts.googleapis.com/css?family=Mulish&display=swap");

body,
h1,
h2,
h3,
p {
  margin: 0;
  font-family: "Mulish";
}

.bg-orange {
  background-color: #fe9900;
}
.bg-lace {
  background-color: #fff7e9;
}
.bg-light-blue {
  background-color: #5f9df7;
}
.bg-dark-blue {
  background-color: #1746a2;
}

.text-orange {
  color: #fe9900;
}
.text-lace {
  color: #fff7e9;
}
.text-light-blue {
  color: #5f9df7;
}
.text-dark-blue {
  color: #1746a2;
}

.p-3 {
  padding: .75rem;
}
.pb-3 {
  padding-bottom: .75rem;
}
.px-3 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem;
}
.mt-3 {
  margin-top: .75rem;
}

.h-100vh {
  height: 100vh;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.align-end {
  align-items: flex-end;
}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.round {
  border-radius: 1000px;
}

.border-bottom {
  border-bottom: 1px solid #000;
}

.h-60px {
  height: 60px;
}

.minw-60px {
  min-width: 60px;
}